section.contact {
  height:175px;
  background-image: url('../../assets/mr-incredible.gif');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 40px;
}
